*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 700px;
    margin: 5% auto;
    border-radius: 5px;
    background-color: grey;
    border: solid 3px;
}

.header {
    display: flex;
    justify-content: center;
    height: 15%;
    border: solid;
}

.score {
    display: flex;
    height: 25%;
    align-items: center;
    border: solid;
}

.board {
    display: flex;
    height: 60%;
    border: solid;
}